<?xml version="1.0" encoding="UTF-8"?>
<!-- 设置log4j2的自身log级别为warn ; OFF > FATAL > ERROR > WARN > INFO > DEBUG > TRACE > ALL -->
<!-- monitorInterval="30"表示每30秒配置文件会动态加载一次。在程序运行过程中，如果修改配置文件，程序会随之改变 -->
<!-- [%d{yyyy-MM-dd HH:mm:ss.SSS}] %-5level %logger{0} [%file:%line]:%L - %msg%n-->
<configuration status="OFF">
    <Properties>
        <!--日志输出的格式-->
        <!--
            %d{yyyy-MM-dd HH:mm:ss, SSS} : 日志生产时间,输出到毫秒的时间
            %-5level : 输出日志级别，-5表示左对齐并且固定输出5个字符，如果不足在右边补0
            %c : logger的名称(%logger)
            %t : 输出当前线程名称
            %p : 日志输出格式
            %m : 日志内容，即 logger.info("message")
            %n : 换行符
            %C : Java类名(%F)
            %L : 行号
            %M : 方法名
            %l : 输出语句所在的行数, 包括类名、方法名、文件名、行数
            hostName : 本地机器名
            hostAddress : 本地ip地址
         -->
<!--        <property name="LOG_PATTERN">[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%p] - %l - %m%n</property>-->
        <property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss:SSS}|%-5p|%t|%l|%m|%x|%n</property>
        <!--<property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %l%m%n</property>-->
        <property name="LOG_POLICY_SIZE">10M</property>
    </Properties>
    <appenders>
        <console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </console>

        <!--配置异步写日志-->
        <Async name="Async">
            <AppenderRef ref="console"/>
        </Async>
    </appenders>

    <loggers>
        <root level="DEBUG">
            <appender-ref ref="console"/>
        </root>
    </loggers>

</configuration>
